body {
  font-family: sans-serif;
  margin: 0;
  background: #f1f8f4;
}

header {
  background: #0f5132;
  color: white;
  padding: 10px;
  text-align: center;
}

.tabs button {
  width: 50%;
  padding: 10px;
  background: #198754;
  border: none;
  color: white;
}

#map {
  height: 300px;
  margin-top: 10px;
}

input, textarea, select {
  width: 95%;
  margin: 5px;
  padding: 8px;
}